site_name: Podcasting resources for Software Developers
theme:
  name: material 
  features:
    - navigation.tabs
    - navigation.indexes
markdown_extensions:
  - footnotes
  # https://github.com/squidfunk/mkdocs-material/issues/693#issuecomment-632044306
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
extra_css:
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js
nav:
  - 'index.md'
  - 'Documentation':
    - 'Monetization':
      - 'Lightning Network':
        - monetization-lightning/index.md
        - monetization-lightning/data-models.md
